* {
  margin: 0;
  font-family: sans-serif;
}
header ul {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 100vw;
  padding: 0;
  margin: 0;
  padding: 14px 0;
  background-color: #BCD0FA;
  opacity: .7;
  top: 0;
}

header ul li a {
  text-decoration: none;
  color: #222;
  padding: 14px 16px;
  font-weight: 600;
  font-size: 20px;
}
header ul li a:hover {
  color: #888;
}

.button {
  background-color: #222;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 500ms;
  border-radius: 5px;
}
.button:hover {
  cursor: pointer;
  background-color: #444;
}

#contact {
  text-align: center;
}
#contact h1 {
  width: 100vw;
  text-align: center;
  margin: 100px auto 50px auto;
}
#contact h2 {
  padding: 30px;
}
#contact p {
  padding: 30px 0;
  width: 60vw;
  margin: auto;
}

#toHeader {
  display: block;
  margin: auto;
}

footer {
  padding: 14px 0;
  background-color: #BCD0FA;
  text-align: center; 
}